:root
{
    font-family: 'Roboto';
    font-size: 16px;

    --carousel-item__bg: #fff;
    --carousel-item__primary-text-color: #111;
    --carousel-item__aux-text-color: #909090;
    --carousel-item__text-size_big: 1.5rem;
    --carousel-item__text-size_med: 1rem;
    --carousel-item__text-size_small: .625rem;
}

.carousel-item
{
    position: relative;

    display: block;

    width: 320px;
    height: 520px;

    color: var(--carousel-item__primary-text-color);
    background-color: var(--carousel-item__bg);
}

.carousel-item__url
{
    text-decoration: none;

    color: inherit;
}
.carousel-item__img
{
    width: 320px;
    height: 180px;
}

.carousel-item__text-container
{
    width: 320px;
    height: 326px;
    padding: 0 5px;
}
.carousel-item__main
{
    overflow: hidden;

    width: 320px;
    height: 300px;
}
.carousel-item__bottom
{
    position: absolute;
    bottom: 0;

    height: 26px;
}
.carousel-item__shadow
{
    position: absolute;
    z-index: 999;
    bottom: 26px;

    width: 320px;
    height: 2rem;

    box-shadow: inset -5px -15px 10px 5px var( --carousel-item__bg);
}

.carousel-item__title
{
    font-size: var(--carousel-item__text-size_big);

    margin-block-start: 0;
}
.carousel-item__author
{
    font-size: var(--carousel-item__text-size_med);
}
.carousel-item__description
{
    font-size: var(--carousel-item__text-size_med);
    font-weight: normal;
}
.carousel-item__date-views
{
    font-size: var(--carousel-item__text-size_small);
    font-weight: lighter;

    margin: 0;

    color: var(--carousel-item__aux-text-color);
}

@media screen and (max-width: 768px)
{
    :root
    {
        --carousel-item__primary-text-color: #fff;
        --carousel-item__bg: #222;
    }
}
