.carousel-container
{
    display: flex;
    flex-direction: row;

    height: 80%;
    min-height: 520px;

    align-items: center;
    justify-content: center;
}

.carousel-scroller
{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;

    height: 100%;

    scroll-snap-type: x mandatory;
    align-items: center;
    scroll-behavior: smooth;
    scroll-padding-left: 10px;
}

.carousel-scroller__item-container
{
    position: relative;

    min-width: 320px;
    min-height: 520px;
    margin: 10px;

    scroll-snap-align: start;
}
